adbc_driver_manager==1.2.0
adbc_driver_postgresql==1.2.0
adbc_driver_sqlite==1.2.0
aesara==2.9.4
aiohttp==3.10.8
amdsmi==23.0.0.4
anywidget==0.9.13
AppKit==0.2.8
array_api_strict==2.0.1
astropy==5.1
astunparse==1.6.3
atheris==2.3.0
av==13.0.0
beartype==0.19.0
beautifulsoup4==4.11.1
bokeh==2.4.3
boto3==1.24.28
botocore==1.27.28
brotlicffi==1.1.0.0
brotlipy==0.7.0
conda==22.9.0
ConfigParser==7.1.0
contextlib2==21.6.0
coremltools==8.0
cryptography==37.0.1
ctypes_snappy==1.03
cudf==0.6.1.post1
cycler==0.11.0
Cython==0.29.32
dask_expr==1.1.15
deeplearning==0.0.1
defusedxml==0.7.1
diffusers==0.30.3
dill==0.3.4
dl==0.1.0
docutils==0.18.1
docutils==0.18.1
dp==1.00
duckdb==1.1.1
etcd==2.0.8
expecttest==0.2.1
fastparquet==2024.5.0
fb==0.4.0
flashlight==0.1.1
foo==.1
Foundation==0.1.0a0.dev1
fqdn==1.5.1
gdown==5.2.0
gitdb_speedups==0.1.0
gmpy2==2.2.1
h2==4.1.0
h5py==3.7.0
HTMLParser==0.0.2
hypothesis==6.112.2
ibis==3.3.0
imagecodecs==2021.8.26
imageio_ffmpeg==0.5.1
importlib_metadata==4.11.3
importlib_metadata==8.5.0
importlib_resources==6.4.5
imread==0.7.6
ipython==7.31.1
ipython==8.12.3
ipywidgets==7.6.5
isal==1.7.1
isoduration==20.11.0
itk==5.4.0
jnius==1.1.0
JPype1==1.5.0
jsonpointer==3.0.0
kerchunk==0.2.6
keyring==23.4.0
lmdb==1.5.1
lockfile==0.12.2
lxml==4.9.1
lz4==3.1.3
lzmaffi==0.3.0
matchpy==0.5.5
matplotlib==3.5.2
memory_profiler==0.61.0
mock==4.0.3
modin==0.32.0
monkeytype==23.3.0
moviepy==1.0.3
mtrand==0.1
multiset==3.2.0
mypy==1.11.2
numarray==1.5.1
Numeric==24.2
numexpr==2.8.3
numpydoc==1.4.0
odfpy==1.4.1
olefile==0.46
onnxscript==0.1.0.dev20240930
openpyxl==3.0.10
optree==0.12.1
ordereddict==1.1
osgeo==0.0.1
paramiko==2.8.1
pathlib2==2.3.7.post1
pickle5==0.0.12
pillow_heif==0.18.0
pkgutil_resolve_name==1.3.10
plotly==5.9.0
polars==1.8.2
pooch==1.8.2
psutil==5.9.0
pyamg==5.2.1
pycares==4.4.0
pycocotools==2.0.8
pycosat==0.6.6
pycurl==7.45.3
pydot==3.0.2
pydy==0.7.1
pygit2==1.15.1
pyglet==2.0.17
pygraphviz==1.14
PyInstaller==6.10.0
pymc==5.16.2
pymc3==3.11.6
pynvml==11.5.3
pyodide==0.0.2
pyOpenSSL==22.0.0
pyOpenSSL==24.2.1
pyperf==2.7.0
PyQt4==4.11.4
PyQt5==5.15.11
PyQt6==6.7.1
pysat==3.2.0
PySide6==6.7.3
pytest==7.1.2
pytest_timeout==2.3.1
python_calamine==0.2.3
pytorch_lightning==2.4.0
PyWavelets==1.3.0
pywin32==302
pywin32==306
pyxlsb==1.0.10
QtPy==2.2.0
railroad==0.5.0
redis==5.1.0
requests_kerberos==0.15.0
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
s3fs==2024.9.0
safetensors==0.4.5
sage==0.0.0
scikit_learn==1.0.2
scikits.talkbox==0.2.5
selenium==4.25.0
sentencepiece==0.2.0
setuptools_scm==8.1.0
SimpleITK==2.4.0
simplejson==3.19.3
sniffio==1.2.0
snowflake==0.12.1
Sphinx==5.0.2
SQLAlchemy==1.4.39
symengine==0.11.0
tables==3.6.1
testbench==0.1.2
theano==1.0.5
thread==2.0.5
threadpoolctl==3.5.0
torch_xla==2.4.0
torcharrow==0.1.0
torchrec==0.8.0
tqdm==4.64.1
traitlets==5.1.1
trio==0.26.2
ujson==5.4.0
uri_template==1.3.0
vegafusion==1.6.9
webcolors==24.8.0
xarray==0.20.1
xlrd==2.0.1
XlsxWriter==3.0.3
xmlrpclib==1.0.1
xmlrunner==1.7.7
yarl==1.13.1
z3==0.2.0
zarr==2.18.3
zipp==3.8.0
zipp==3.20.2
zstandard==0.23.0
zstd==1.5.5.1
